@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="~/js/javascrip.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading">
        GetA API data
    </div>
    <div class="panel-boy">
        <table class="table table-bordered" id="Table">
            <tr>
                <th>email</th>
                <th>companyName</th>
                <th>city</th>
                <th>country</th>
                <th>password</th>
            </tr>

        </table>

    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        Manager.GetAllProduct();

    })

    var Manager = {
        GetAllProduct: function () {
            var obj = "";
            var serviceUrl = "https://localhost:7063/Member/Member";
            window.Manager.GetAPI(serviceUrl, onSuccess, onFailed);
            function onSuccess(jsonData) {

                obj = jsonData;
                $.each(jsonData, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='Id'>" + item.email + "</td>" +
                        "<td id='Id'>" + item.companyName + "</td>" +
                        "<td id='Id'>" + item.city + "</td>" +
                        "<td id='Id'>" + item.country + "</td>" +
                        "<td id='Id'>" + item.password + "</td>" +
                        "</tr>"
                    $('#Table').append(rows);
                });
            }
            function onFailed(error) {
                window.alert(error.statusText);
            }
            return obj;
        },
        GetAPI: function (serviceUrl, successCallback, errorCallback) {
            $.ajax({
                type: "GET",
                url: serviceUrl,
                dataType: "json",
                success: successCallback,
                error: errorCallback


            });
        },


    }

</script>