@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><a href="/Productlist">Product CRUD</a></h1>
    <h1 class="display-4"><a href="/Memberlist">Member CRUD</a></h1>
    <h1 class="display-4"><a href="/Orderlist">Order CRUD</a></h1>
    <h1 class="display-4"><a href="/OrderDetaillist">OrderDetail CR</a></h1>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
