@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
Member View
</br>
<a href="/Home/GetList?id=@ViewBag.OpenID">View Your Order </a></br>

<a href="/Home/EditProfile?id=@ViewBag.OpenID">Edit Your Profile </a>