@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    **********ĐỂ ĐĂNG NHẬP VÀO CRUD 3 MODEL PRODUCT, ORDER, MEMBER*************</br>
    email: admin@fpt</br>
    password: 12345</br>
</br>
    **********ĐỂ ĐĂNG NHẬP VÀO PROFILE VÀ VIEW ORDER*************</br>
    email: huong@fpt</br>
    password: 12345</br>


    <form asp-action="Login">
        <table>
            <tr>
                
                <td> Email:<input type="email" name="email" /></td>
                
            </tr>

            <tr>
               
                <td> PassWord: <input type="password" name="password" /></td>
               
            </tr>
           <tr>
                <td>    <input type="submit" value="Log in" class="btn btn-danger" /></td>

         

            </tr>
        </table>
      
        
      
        
    </form>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
