@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
Member View
</br>
<a asp-action="GetList" asp-route-id="@ViewBag.OpenID">View Your Order</a></br>
<a asp-action="Edit" asp-route-id="@ViewBag.OpenID">Edit Your Profile</a>